env:
  global:
  - LC_CTYPE=en_US.UTF-8
before_install:
  - brew install swiftlint
install:
  - carthage update --platform mac
matrix:
  include:
  - os: osx
    language: objective-c
    osx_image: xcode8
    script:
    - swiftlint
    - set -o pipefail && xcodebuild clean build test -project stodo.xcodeproj -scheme stodo -destination 'platform=macOS'
after_success:
  - bash <(curl -s https://codecov.io/bash) -J 'stodo'
